
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Registration.js"></script>

<h2>Index</h2>
<h1>Welcome to my world !!</h1>
<input type="text" id="txtName" placeholder="Please enter your name"/>
</br>

<input  type="text" id="txtAddress" placeholder="please enter your address"/>
<br />
<select id="ddlCity">
    <option>Nagpur</option>
    <option>Pune</option>
    <option>Mumbai</option>
    <option>Nashik</option>
</select>
</br>
<input  type="text" id="txtMobileNo" placeholder="Please enter your mobile number"/></br>
<input  type="text" id="txtEmailId" placeholder="Please enter your mail id"/></br>
<input type="submit" id="btnSubmit" value="submit" onclick="saveRegistration()"/>

